* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: MyFont1;
  src: url("../fonts/Alexandria-VariableFont_wght.ttf");
}

body {
  font-family: MyFont1;
}

form input {
  outline: none;
}

button {
  border: 0;
}

img {
  user-select: none;
}

img,
video {
  max-width: 100%;
}

/* ************************************ */

body {
  background-image: url("../media/imges/signin3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.all {
  min-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgb(0, 173, 238) , -10px 10px 20px #fff;
}

div.signin-container {
  padding: 15px;
}

div.content,
div.logo {
  width: 100%;
}

div.logo {
  text-align: center;
}

div.logo img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid rgb(0, 173, 238);
  position: relative;
  top: -50px;
  box-shadow: 0px 0px 10px gray;
}

div.content {
  text-align: center;
}

div.content div.sign {
  margin: -30px 0 30px 0;
  font-size: 20px;
  color: gray;
}

div.content .user,
div.content .pass {
  width: 100%;
  height: 3rem;
  /* padding-left: 10px; */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.content .user input,
div.content .pass input {
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  font-family: MyFont1;
  padding: 20px;
  background-color: transparent;
  border: 1px solid rgb(0, 173, 238);
  border-radius: 20px;

  transition: all 0.2s linear;
}

div.content .user input:focus,
div.content .pass input:focus {
  box-shadow: 0px 0px 10px rgb(0, 173, 238);
}

div.content .user input::placeholder,
div.content .pass input::placeholder {
  color: gray;
}

div.content .user i,
div.content .pass i {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translatey(-50%);
  color: rgb(0, 173, 238);

  /* padding: 0 10px 0 0; */
  /* border-right: 2px solid rgb(0, 173, 238); */
}

div.content .user i::after,
div.content .pass i::after {
  content: "";
  position: absolute;
  left: 150%;
  top: 50%;
  transform: translatey(-50%);
  width: 2px;
  height: 100%;
  border-radius: 5px;
  background-color: rgb(0, 173, 238);
}

div.end div.end-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: gray;
}

div.end div.end-one .forget a {
  color: gray;
}

div.end div.end-one .forget a:hover {
  border-bottom: 1px solid gray;
}

/* From Uiverse.io by vishnupprajapat */
.checkbox-wrapper-46 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
  margin: auto;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.checkbox-wrapper-46 .cbx span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}

.checkbox-wrapper-46 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-46 .cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #506eec;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.checkbox-wrapper-46 .cbx span:last-child {
  padding-left: 8px;
}

.checkbox-wrapper-46 .cbx:hover span:first-child {
  border-color: #506eec;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child {
  background: #506eec;
  border-color: #506eec;
  animation: wave-46 0.4s ease;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-46 .inp-cbx:checked+.cbx span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave-46 {
  50% {
    transform: scale(0.9);
  }
}

/* From Uiverse.io by vishnupprajapat */


/* From Uiverse.io by xueyuantan  */
.content .end .end-two button {
  width: 100%;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  margin-top: 30px;
  border: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  background-image: linear-gradient(to right, rgb(0, 173, 238) 0%, #566dc9 100%);
  color: #fff;
  box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.content .end .end-two button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #566dc9 0%, #00adee 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.content .end .end-two button:hover::before {
  width: 100%;
}
/* From Uiverse.io by xueyuantan  */

.content .end .end-two button a{
  color: #fff;
}

div.footer {
  text-align: center;
  margin-top: 30px;
  color: gray;
}

@media (max-width:767px){
  div.all {
   min-width: 350px;
  }
}

@media (min-width:768px) and (max-width:1023px){
  div.all {
   min-width: 400px;
  }
}

@media (min-width:1024px) and (max-width:1199px){
  div.all {
   min-width: 450px;
  }
}