* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: MyFont1;
    src: url("../fonts/Alexandria-VariableFont_wght.ttf");
}

body {
    font-family: MyFont1;
    overflow-x: hidden;
}

form input {
    outline: none;
}

button {
    border: 0;
}

img {
    user-select: none;
}

img,
video {
    max-width: 100%;
}

/* ************************************ */

header#head {
    background-color: rgb(0, 173, 238);
    max-height: 82px;
    border-bottom: 2px solid white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.head-container {
    padding: 10px 15px;
    margin: 0 75px;
}

.head-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

div.logo a img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background-color: transparent; */
}

div.logo {
    position: relative;
}

div.logo::after {
    position: absolute;
    content: "";
    top: 0;
    right: 120%;
    width: 2px;
    height: 100%;
    border-radius: 10px;
    background-color: #fff;
}

header#head .nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

div.with {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

header#head .nav ul li a {
    color: #fff;
    position: relative;
}

nav.nav ul div.with .line {
    color: #fff;
}

header#head .nav ul a::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 150%;
    right: 0;

    transition: all 0.2s linear;
}

header#head .nav ul li::selection {
    background: #fff;
    color: rgb(0, 173, 238);
}

header#head .nav ul li {
    font-size: 17px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    /* word-spacing: -8px; */
}

header#head .nav ul li:hover {
    transform: translatex(-5px);

    a::after {
        width: 100%;
    }
}

header#head div.login i{
    color: white;
    font-size: 30px;
    display: none;
}

header#head div.login button {
    color: rgb(0, 173, 238);
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #fff;
    font-family: MyFont1;

    transition: all 0.2s linear;
}

header#head div.login button:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: rgb(0, 173, 238);
}

.marq {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #fff;
}

.marq>span {
    /* position: relative; */
    display: inline-block;
    flex-shrink: 0;
    padding: 8px 20px;
    background-color: rgb(0, 173, 238);
    color: #fff;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    font-weight: 600;
}

.marq marquee {
    color: rgb(0, 173, 238);
}

.marq marquee span {
    padding: 0 20px;
}

section#hero {
    background-color: rgb(0, 173, 238);
    display: flex;
    align-items: center;
    padding: 20px 0;
}

div.hero-content::selection {
    background: #fff;
    color: rgb(0, 173, 238);
}

div.hero-content{
    width: 50%;
    color: #fff;
    line-height: 30px;
    text-align: justify;
}

div.hero-image {
    width: 50%;
    text-align: center;
}

div.hero-content h2 {
    margin-bottom: 20px;
    text-align: right;
}

div.hero-content p:not(:last-child) {
    margin-bottom: 10px;
}

section#section-two {
    scroll-margin-top: 82px;
    padding: 20px 0;
}

section#section-two div.title::selection,
section#section-two .contents .description::selection {
    background-color: rgb(0, 173, 238);
    color: #fff;
}

section#section-two .contents .sub-title::selection {
    background-color: #fff;
    color: rgb(0, 173, 238);
}

section#section-two div.title h2,
section#section-two .content h3 {
    text-align: center;
}

section#section-two .content {
    margin-top: 20px;
    line-height: 30px;
    color: black;
    border-radius: 20px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom: 3px solid rgb(0, 173, 238);
    transition: all 0.3s;
}

section#section-two .content:hover {
    box-shadow: 0px 0px 20px rgb(0, 173, 238);
}

section#section-two .content .sub-title {
    padding: 5px 0;
    background-color: rgb(0, 173, 238);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    color: #fff;
    border-bottom: 2px solid black;
}

section#section-two .content .description {
    text-align: justify;
    padding: 15px;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom: 1px solid rgba(0, 173, 238, 0.2);
    border-right: 1px solid rgba(0, 173, 238, 0.2);
    border-left: 1px solid rgba(0, 173, 238, 0.2);
}

section#section-three {
    scroll-margin-top: 82px;
    padding: 20px 0;
    background-color: rgb(0, 173, 238);
}

div.section-three-content {
    color: #fff;
    width: 50%;
    line-height: 30px;
    text-align: justify;
}

div.section-three-image{
    width: 50%;
    text-align: center;
}

div.section-three-content h2 {
    width: fit-content;
    margin: 0 auto 10px;
}

div.section-three-content::selection {
    background: #fff;
    color: rgb(0, 173, 238);
}

div.section-three-content .qustions {
    margin-top: 20px;
}

.accordion {
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-radius: 20px;
}

.accordion-item {
    background-color: transparent;
    padding: 20px 0;
    border: 0;
}

.accordion-item:not(:Last-child) {
    border-bottom: 1px solid #fff;
}

.accordion-button {
    display: flex;
    gap: 200px;
    background-color: transparent;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.accordion-body {
    color: #fff;
}

section#section-four {
    scroll-margin-top: 82px;
    padding: 20px 0;
}

section#section-four .irshadat {
    width: 50%;
    line-height: 30px;
    text-align: justify;
}

section#section-four .irshadat::selection {
    background-color: rgb(0, 173, 238);
    color: #fff;
}

section#section-four .irshadat h2 {
    width: fit-content;
    margin: 0 auto 20px;
}

section#section-four .contact {
    width: 50%;
    text-align: center;
}

section#section-four .contact::selection {
    background-color: rgb(0, 173, 238);
    color: #fff;
}

section#section-four .section-four-form {
    background-color: rgb(0, 173, 238);
    padding: 20px;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px gray;
    margin-top: 20px;
    
    transition: all 0.3s;
}

section#section-four .section-four-form:hover {
    transform: scale(1.02);
}

section#section-four .section-four-form input,
section#section-four .section-four-form textarea {
    border: 0;
    outline: 0;
    padding: 10px 20px;
    margin: 10px 0;
    width: 100%;
    border-radius: 20px;
    font-family: MyFont1;

    transition: all 0.1s linear;
}

section#section-four .section-four-form input:Focus,
section#section-four .section-four-form textarea:Focus {
    border-bottom: 3px solid black;
}

div.btns button {
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #fff;
    color: rgb(0, 173, 238);
    cursor: pointer;
    font-family: MyFont1;

    transition: all 0.3s linear;
}

div.btns button:hover {
    border: 2px solid #fff;
    color: #fff;
    background-color: rgb(0, 173, 238);
}

footer#footer {
    font-size: 17px;
    text-align: center;
    padding: 15px 0;
    background-color: rgb(0, 173, 238);
    color: #fff;
}
footer#footer .links{
    font-size: 22px;
}

footer#footer .links i {
    padding: 0 10px;
    color: #fff;

    transition: all 0.1s linear;
}

footer#footer .links i:hover {
    transform: scale(1.3);
}

button.click{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color:  rgb(0, 117, 255);
    padding: 5px 10px;
    border-radius: 5px;
}
button.click a{
    color: #fff;
}

@media (max-width:767px){
    header#head div.login i {
        display: block;
    }
    header#head .nav , header#head div.login button  {
        display: none;
    }
    .head-container {
        margin: 0 25px;
    }
    section#hero .head-row{
        flex-wrap: wrap;
    }
    section#hero .hero-content , section#hero .hero-image{
        flex-grow: 1;
    }
    section#hero .hero-image img{
        max-width: 400px;
    }
    #section-two .head-row{
        flex-wrap: wrap;
    }
    #section-two .content{
        flex-grow: 1;
    }
    #section-three .head-row{
        flex-wrap: wrap;
    }
    #section-three .head-row .section-three-content , #section-three .head-row .section-three-image{
        flex-grow: 1;
    }
    #section-three .head-row .section-three-image img{
        max-width: 400px;
    }
    #section-four .head-row{
        flex-wrap: wrap;
    }
    #section-four .irshadat , #section-four .contact{
        flex-grow: 1;
    }
    footer#footer .head-row{
        flex-direction: column;
    }
    footer#footer {
        font-size: 15px;
    }
    footer#footer .links{
        font-size: 18px;
    }
}

@media (min-width:768px) and (max-width:1023px){
    .head-container {
        margin: 0 50px;
    }
    header#head .nav ul {
        gap: 20px;
    }
    header#head .nav ul li {
        font-size: 15px;
    }
    div.with {
        gap: 8px;
    }
    header#head div.login button {
        font-size: 12px;
    }
    section#hero .head-row{
        flex-wrap: wrap;
    }
    section#hero .hero-content , section#hero .hero-image{
        flex-grow: 1;
    }
    section#hero .hero-image img{
        max-width: 500px;
    }
    #section-two .head-row{
        flex-wrap: wrap;
    }
    #section-two .content{
        max-width: 47%;
    }
    #section-three .head-row{
        flex-wrap: wrap;
    }
    #section-three .head-row .section-three-content , #section-three .head-row .section-three-image{
        flex-grow: 1;
    }
    #section-three .head-row .section-three-image img{
        max-width: 500px;
    }
    #section-four .head-row{
        flex-wrap: wrap;
    }
    #section-four .irshadat , #section-four .contact{
        flex-grow: 1;
    }
    footer#footer .head-row{
        flex-direction: column;
    }
    footer#footer {
        font-size: 16px;
    }
    footer#footer .links{
        font-size: 20px;
    }
}

@media (min-width:1024px) and (max-width:1199px){
    header#head .nav ul li , header#head div.login button{
        white-space: nowrap;
    }
    header#head .nav ul {
        gap: 40px;
    }
    .head-container {
        margin: 0 60px;
    }
    header#head .nav ul li {
        font-size: 15px;
    }
    header#head div.login button {
        font-size: 12px;
    }
    #section-two .head-row{
        flex-wrap: wrap;
    }
    #section-two .content{
        max-width: 47%;
    }
}